<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>SNEJK</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <i class="fas fa-cog options"></i>
    <section>
            <header>Twój wynik: <span>0</span></header>
            <canvas></canvas>
    </section>
    <section class="rank">
        <ul>
            <% users.forEach((user, idx)=>{ %>
            <% if(idx<5) {%>
                <li>
                    <span class="name"><%= user.username %></span><span class="score"><%= user.score %></span>
                </li>
            <% }}); %>
        </ul>
    </section>
    <section class="options">
        <i class="fas fa-times options"></i>
        <form>
            <label for="bgColor">Wybierz kolor tła:</label>
            <input type="color" id="bgColor">
            <label for="snF">Wybierz kolor węża:</label>
            <input type="color" id="snF">
            <label for="snT">Wybierz drugi kolor węża:</label>
            <input type="color" id="snT">
            <label for="apple">Wybierz kolor jabłka:</label>
            <input type="color" id="apple">
            <label for="local">Zapis w pamięci przeglądarki?<input type="checkbox" name="localStorage" id="local" checked></label>
            <input type="submit" value="Zapisz">
        </form>
    </section>
    <section class="lose">
        <form action="/" method="POST">
            <span>
                <label for="user[score]">Twój wynik: </label>
                <input type="number" class="score" name="user[score]" id="user[score]" readonly>     
            </span>
            <label for="user[username]">Podaj nazwę:</label>
            <input type="text" id="user[username]" name="user[username]" placeholder="Twoja nazwa">
            <input type="submit" value="Zapisz">
        </form>
    </section>
    <script src="Apple.js"></script>
    <script src="Snake.js"></script>
    <script src="Game.js"></script>
    <script src="Main.js"></script>
</body>
</html>